.hero{
    padding: 10rem 3rem 13rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.541)), url('/assets/hero-background.png');
    background-size: cover; /* Agar gambar memenuhi div */
    background-position: center; /* Posisikan gambar di tengah */
    background-repeat: no-repeat; /* Jangan ulang gambar */
    text-align: center;
    color: var(--primary);
}

.hero h1{
    font-weight: 700;
    font-size: 3.5em;
}

.hero h2{
    font-weight: 600;
    font-size: 2.2em;
}

.hero p{
    font-weight: 400;
    margin-top: 1rem;
    max-width: 60rem;
}

.hero button{
    padding: 0.8rem 2rem;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
    margin-top: 1.5rem;
    border: none;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:786px){

    .hero{
        padding: 7rem 1rem 8.5rem 1rem;
    }

    .hero h1{
        font-size: 1.6em;
    }

    .hero h2{
        font-size: 1.1em;
        margin-top: 0.5rem;
    }

    .hero p{
        font-size: 0.8em;
        padding: 0 2rem;
    }

    .hero button{
        font-size: 12px;
        padding: 0.5rem 1.5rem;
        margin-top: 1.2rem;
    }
}

@media screen and (min-width:786px) and (max-width:1080px){
    .hero h1{
        font-size: 2em;
    }

    .hero h2{
        font-size: 1.5em;
    }

    .hero p{
        font-size: 0.9em;
        padding: 0 4rem;
    }
}