*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ffffff;
  --second: #100F0F;
  --accent: #ffffff;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second);
}

a{
  color: inherit;
  text-decoration: none;
}



